<openerp>
	<data>
		<menuitem name="Master" id="hm_menu_root_master" sequence="1"/>    
		    <!-- menu categories -->    
		    <menuitem name="Master" id="hm_menu_sub_root_master" parent="hm_menu_root_master" sequence="2"/>
			    <!-- actions -->    
			    <menuitem name="Provinsi" id="hm_menu_provinsi" parent="hm_menu_sub_root_master" action="hasilmancing.hm_action_provinsi" sequence="3" />
			    <menuitem name="Kabupaten" id="hm_menu_kabupaten" parent="hm_menu_sub_root_master" action="hasilmancing.hm_action_kabupaten" sequence="4" />
			    <menuitem name="Kecamatan" id="hm_menu_kecamatan" parent="hm_menu_sub_root_master" action="hasilmancing.hm_action_kecamatan" sequence="5" />
			    <menuitem name="Lokasi Galian" id="hm_menu_lokasi_galian" parent="hm_menu_sub_root_master" action="hasilmancing.hm_action_galian" sequence="6" />
			    <menuitem name="Alat Berat" id="hm_menu_alat_berat" parent="hm_menu_sub_root_master" action="hasilmancing.hm_action_alat_berat" sequence="7" />
			    <menuitem name="Armada" id="hm_menu_armada" parent="hm_menu_sub_root_master" action="hasilmancing.hm_action_armada" sequence="8" />
			    <menuitem name="Karyawan" id="hm_menu_karyawan" parent="hm_menu_sub_root_master" action="hasilmancing.hm_action_karyawan" sequence="9" />
			    <menuitem name="Material" id="hm_menu_material" parent="hm_menu_sub_root_master" action="hasilmancing.hm_material_template_action" sequence="10" />
			    <menuitem name="Sparepart" id="hm_menu_sparepart" parent="hm_menu_sub_root_master" action="hasilmancing.hm_sparepart_template_action" sequence="11" />
			    <menuitem name="Customer" id="hm_menu_customer" parent="hm_menu_sub_root_master" action="hasilmancing.hm_action_customer" sequence="12" />
			    <menuitem name="Supplier" id="hm_menu_supplier" parent="hm_menu_sub_root_master" action="hasilmancing.hm_action_supplier" sequence="13" />
			    
		    <menuitem name="System" id="hm_menu_sub_root_system" parent="hm_menu_root_master" sequence="14"/>
			    <!-- <menuitem name="Setting" id="hm_menu_setting" parent="hm_menu_sub_root_system" action="hasilmancing.hm_action_appconfig" sequence="15" /> -->
			    <menuitem name="Setting" id="hm_setting" parent="hm_menu_sub_root_system" action="hasilmancing.hm_setting_action" sequence="15" />
			    <menuitem name="Pay Week Master" id="hm_menu_pay_week_master" parent="hm_menu_sub_root_system" action="hasilmancing.hm_action_pay_week_generate" sequence="16" />
			    <menuitem name="Pay Week" id="hm_menu_pay_week" parent="hm_menu_sub_root_system" action="hasilmancing.hm_action_pay_week" sequence="17" />

		<menuitem name="Purchase" id="hm_menu_root_purchase" sequence="3"/>
		    <menuitem name="Purchase" id="hm_menu_sub_root_purchase" parent="hm_menu_root_purchase" sequence="31"/>
				<menuitem action="hm_purchase_form_action" id="hm_menu_purchase_form_action" parent="hm_menu_sub_root_purchase" sequence="32"/>    

		    <menuitem name="Reports" id="hm_menu_sub_root_purchase_reports" parent="hm_menu_root_purchase" sequence="33"/>
			    <menuitem name="Purchase" id="hm_menu_report_purchase" parent="hm_menu_sub_root_purchase_reports" action="hasilmancing.hm_wiz_purchase_action" sequence="34" />

		<menuitem name="Sales" id="hm_menu_root_sales_new" sequence="4"/>        
		    <menuitem name="Sales" id="hm_menu_sub_root_sales_new" parent="hm_menu_root_sales_new" sequence="41"/>
			    <menuitem name="Sales Orders" id="hm_menu_new_sales_order" parent="hm_menu_sub_root_sales_new" action="hasilmancing.hm_new_sale_action_orders" sequence="42" />
			<menuitem name="Reports" id="hm_menu_sub_root_reports_new" parent="hm_menu_root_sales_new" sequence="43"/>
			    <menuitem name="Sales" id="hm_menu_report_new_sales_order" parent="hm_menu_sub_root_reports_new" action="hasilmancing.hm_wiz_sale_action" sequence="44" />
			    <menuitem name="Tagihan" id="hm_menu_report_new_tagihan" parent="hm_menu_sub_root_reports_new" action="hasilmancing.hm_wiz_tagihan_action" sequence="45" />

		<menuitem name="Operational" id="hm_menu_root_operational" sequence="5" />
            <menuitem name="Operational" id="hm_menu_operational" parent="hm_menu_root_operational" sequence="51" />
                <menuitem name="Alat Berat" id="hm_menu_operational_alat_berat" parent="hm_menu_operational" action="hasilmancing.hm_action_op_alat" sequence="52" />
            <!-- <menuitem name="Presensi" id="hm_menu_presensi" parent="hm_menu_root_operational" sequence="53" /> -->
                <menuitem name="Presensi" id="hm_menu_presensi_karyawan" parent="hm_menu_operational" action="hasilmancing.hm_action_presensi" sequence="54" />
                <!-- <menuitem name="Rekap Presensi" id="hm_menu_presensi_karyawan_rekap" parent="hm_menu_presensi" action="hasilmancing.hm_action_rekap_presensi" sequence="55" /> -->
            <!-- <menuitem name="Payroll" id="hm_menu_presensi_payroll" parent="hm_menu_root_operational" sequence="56" /> -->
                <menuitem name="Gaji Driver" id="hm_menu_generate_pay_driver" parent="hm_menu_operational" action="hasilmancing.hm_action_generate_pay_driver" sequence="57"  />
                <menuitem name="Gaji Staff" id="hm_menu_generate_pay_staff" parent="hm_menu_operational" action="hasilmancing.hm_action_generate_pay_staff" sequence="58"  />
                <!-- <menuitem name="Driver" id="hm_menu_presensi_payroll_driver" parent="hm_menu_presensi_payroll" action="hasilmancing.hm_action_payroll_driver" sequence="57"  /> -->
                <!-- <menuitem name="Staff" id="hm_menu_presensi_payroll_staff" parent="hm_menu_presensi_payroll" action="hasilmancing.hm_action_presensi" sequence="58"  /> -->
            <menuitem name="Reports" id="hm_menu_report_operational" parent="hm_menu_root_operational" sequence="59" />
                <menuitem name="Operasional Alat Berat" id="hm_menu_report_alat_berat" parent="hm_menu_report_operational" action="hasilmancing.hm_wiz_operasional_alat_action" sequence="58"  />
                <menuitem name="Presensi Karyawan" id="hm_menu_report_presensi_karyawan" parent="hm_menu_report_operational" action="hasilmancing.hm_wiz_presensi_act_view" sequence="59"  />
                <menuitem name="Gaji Driver" id="hm_menu_report_gaji_driver" parent="hm_menu_report_operational" action="hasilmancing.hm_wiz_gaji_act_view" sequence="59"  />


            <menuitem name="Admin" id="hm_menu_operational_admin" parent="hm_menu_root_operational" sequence="80" />
                <menuitem name="Gaji Staff Detail" id="hm_menu_pay_staff" parent="hm_menu_operational_admin" action="hasilmancing.hm_action_pay_staff" sequence="81"  />

        <menuitem name="Finance" id="hm_menu_root_finance" sequence="6" />
            <menuitem name="Finance" id="hm_menu_finance" parent="hm_menu_root_finance" sequence="61" />
                <menuitem name="Pendapatan" id="hm_menu_finance_cash_debet" parent="hm_menu_finance" action="hasilmancing.hm_action_finance_cash_debet_view" sequence="62" />
                <menuitem name="Pengeluaran" id="hm_menu_finance_cash_credit" parent="hm_menu_finance" action="hasilmancing.hm_action_finance_cash_credit_view" sequence="63" />
                <!-- <menuitem name="Jurnal Kas" id="hm_menu_finance_jurnal_kas_form" parent="hm_menu_finance" action="hasilmancing.hm_action_finance_jurnal_kas_form_view" sequence="64" /> -->
                <menuitem name="Jurnal Kas" id="hm_menu_wiz_jurnal_kas_form" parent="hm_menu_finance" action="hasilmancing.hm_wiz_jurnal_action" sequence="64" />

		

		
	</data>
</openerp>